@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto&family=Roboto+Condensed:wght@300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

header {
  position: sticky;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #344563;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 70px;
  background: white;
}

.nav-branding {
  font-size: 1.5rem;
  color: #6070ff;
}

.nav-link {
  transition: all 0.5s ease;
}

.hambuger {
  display: block;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

/* Headline */

.headline {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
}

.headline-bg {
  background-image: url("../images/header-bgg.svg");
  background-size: 100% 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 50px;
  background-color: #ffff;
  height: 600px;
}

.headline-main {
  margin-bottom: 2rem;
  color: #172b4d;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #344563;
}

.headline-connect {
  margin: 1.5rem 0;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.headline-icons {
  display: flex;
  flex-direction: row;
}

.fa-xl {
  margin-right: 1rem;
  color: #505f79;
}

/* <<<< Work Section >>>> */

.work-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 70px 24px;
}

.image-container img {
  width: 100%;
  height: 100%;
}

.work-info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 1;
  padding: 18px;
  margin-top: 15px;
}

.work-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 2;
  padding: 18px;
}

.work-info3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  padding: 18px;
  grid-row-start: 3;
}

.work-info4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  padding: 18px;
  grid-row-start: 4;
}

.content1,
.image-container {
  flex: 1;
  margin: 5px;
}

.work-title {
  font-size: 34px;
  font-weight: 700;
  color: #344563;
  line-height: 44px;
  margin: 20px 0 10px 0;
  padding-left: 20px;
}

h4 {
  margin-left: 20px;
  margin-bottom: 20px;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.title-description {
  font-size: 20px;
  color: #344563;
  margin: 0 0 20px 0;
  padding-left: 20px;
  font-weight: 400;
  line-height: 30px;
}

.dot::before {
  content: "• ";
  margin-right: 4px;
}

.tag {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.stack-group {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.stack {
  font-size: 12px;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
}

.btn {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  margin: 50px 0 50px 20px;
  padding: 12px;
  background-color: #fff;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn-resume {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  padding: 12px;
  background-color: #fff;
  margin-top: 15px;
  width: fit-content;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #6070ff;
  color: #ffff;
}

/* <<<<ABOUT ME>>>> */

.about-me {
  background-color: #fff;
  border-radius: 0 100px 0 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 20px 20px 20px;
}

.content2,
.dev-stacks {
  flex: 1;
}

/* Langauges */
.dev-stacks {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  width: 100%;
}

.dev-stack {
  max-width: 600px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
  border-bottom: solid 1px #dfe1e6;
  padding: 15px 0;
}

.dev-stack h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

.dev-stack:first-child {
  border-bottom: none;
}

.stack-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  margin: 0 0 25px 0;
  padding: 20px 0;
  border-radius: 8px;
  color: #253858;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.stack-list {
  padding-top: 8px;
}

.js {
  color: #ffe135;
}

.html {
  color: orange;
}

.css {
  color: blue;
}

/* <<<<<Footer>>>>> */

.contact-form {
  background: url("../images/form-contact.png");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.form {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 60px 55px 55px 55px;
  gap: 20px;
}

input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding-left: 10px;
  background-color: #fff;
  border: solid 1px #dfe1e6;
}

.form-btn {
  width: 150px;
  height: 50px;
  border-radius: 10px;
  background-color: #fff;
  color: #6070ff;
  border: solid 1px #6070ff;
}

.text-area {
  border-radius: 10px;
  height: 150px;
  padding: 10px;
  background-color: #fff;
  border: solid 1px #dfe1e6;
  font-family: "Poppins", sans-serif;
  width: 100%;
}

.form-info {
  color: #fff;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.form-info h2 {
  font-size: 40px;
  padding-top: 20px;
  font-weight: 700;
}

.form-info p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #ebebff;
  line-height: 28px;
}

.form-btn:hover {
  background: #6070ff;
  color: #fff;
}

/* <<<<<<< Desktop Screen >>>>>>> */

@media screen and (min-width: 768px) {
  /* <<<<<<< Headline and Navbar >>>>>>> */

  .navbar > a {
    font-size: 50px;
    transition: all 0.5s ease-out;
  }

  .navbar > a:hover {
    font-size: 100px;
    transition: 0.5s;
    transform: rotate(180deg);
  }

  .container {
    padding: 30px;
    margin: 0 auto;
    background: white;
    border-radius: 0 0 0 50px;
  }

  header {
    background: white;
    padding: 0 140px;
  }

  .hambuger {
    display: none;
  }

  .navbar {
    display: flex;
    flex-direction: row;
  }

  .nav-menu {
    display: flex;
  }

  .nav-menu li {
    padding-left: 2rem;
  }

  /* Headline */

  .headline {
    padding: 0 140px;
  }

  .headline-bg {
    background-image: url("../images/Header-bg2x.png");
    background-repeat: no-repeat;
  }

  /* <<<<<<< Work Section >>>>>>> */

  .work-info1,
  .work-info2,
  .work-info3,
  .work-info4 {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .work-info2,
  .work-info4 {
    display: flex;
    flex-direction: row-reverse;
  }

  /* <<<<<<< About Section>>>>>>> */

  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .stack-list {
    display: flex;
    flex-direction: row;
  }

  .stack-item {
    width: 125px;
    height: 125px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5px 5px;
  }

  .fa-brands {
    align-self: flex-start;
  }

  .stack-item p {
    align-self: flex-start;
  }

  /* <<<<<<< Contact Section>>>>>>> */
  footer {
    padding: 20px auto;
  }

  .contact-form {
    background: url("../images/desktop-contact.svg");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #6070ff;
  }

  .form-info {
    width: 550px;
    padding: 0;
    text-align: center;
    margin-bottom: 20px;
  }

  .form {
    width: 550px;
    padding: 0;
    align-items: center;
  }

  input {
    width: 500px;
  }

  .text-area {
    width: 500px;
  }

  .about-me .content2 {
    align-items: center;
    margin-left: 60px;
  }
}

/* <<<<<Toggle Menu List>>>>> */
@media (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #6070ff;
    
    height: 100%;
    width: 100%;
    text-align: center;
    transition: 0.5s;
  }

  .nav-menu .nav-link {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #ffffff;
  }

  .nav-item {
    margin: 16px 0;
  }

  .hambuger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hambuger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(11px);
  }

  .hambuger.active .bar:nth-child(3) {
    transform: rotate(-45deg) translateY(-11px);
  }

  .nav-menu.active {
    left: 0;
  }
}
