@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,300&family=Roboto&family=Roboto+Condensed:wght@300&display=swap");

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #e5e5e5;
}

header {
  position: sticky;
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #6070ff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 70px;
  background: white;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 4rem;
  margin-left: 2rem;
  margin-right: 3rem;
}

.nav-branding {
  font-size: 1.5rem;
  color: #6070ff;
}

.nav-link {
  transition: all 0.5s ease;
}

.hambuger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #6070ff;
}

@media all and (min-width: 375px) {
  .hambuger {
    display: block;
  }

  .nav-menu {
    position: fixed;
    right: 100%;
    gap: 0;
    top: 70px;
    width: 100%;
    text-align: center;
    flex-direction: column;
    margin: 0;
    transition: 0.5s;
  }

  .nav-item {
    padding: 15px 0;
  }

  .nav-menu.active {
    right: 0;
  }
}

/* Headline */
.headline {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 10px 30px;
}

.headline-bg {
  background-image: url("../images/header-bgg.svg");
  background-size: 100% 100%;
  object-fit: cover;
  background-repeat: no-repeat;
  border-radius: 0 0 0 50px;
  background-color: #ffff;
  height: 600px;
}

.headline-main {
  margin-bottom: 2rem;
  color: #172b4d;
  text-align: start;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
}

.headline-paragraph {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #344563;
}

.headline-connect {
  margin: 2rem 0;
  color: #7f8cff;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.headline-icons {
  display: flex;
  flex-direction: row;
}

.fa-xl {
  margin-right: 1rem;
  color: #505f79;
}

/* <<<< Work Section >>>> */

.work-section {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 70px 24px;
}

.work-info1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 1;
  padding: 16px;
}

.work-info2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  grid-row-start: 2;
  padding: 16px;
}

.work-info3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  padding: 16px;
  grid-row-start: 3;
}

.work-info4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 1px #dfe1e6;
  border-radius: 15px;
  background-color: #fff;
  padding: 16px;
  grid-row-start: 4;
}

.work-title {
  font-size: 34px;
  font-weight: 700;
  color: #344563;
  line-height: 44px;
  margin: 20px 0 20px 0;
  padding-left: 20px;
}

h4 {
  margin-left: 20px;
  color: #344563;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.title-description {
  font-size: 20px;
  color: #344563;
  margin: 0 0 20px 0;
  padding-left: 20px;
  font-weight: 400;
  line-height: 30px;
}

.dot::before {
  content: "• ";
  margin-right: 4px;
}

.tag {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
}

.stack-group {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0 0;
  padding: 0;
}

.stack {
  font-size: 12px;
  padding: 5px 15px;
  margin: 0 20px;
  border-radius: 8px;
  background-color: #ebebff;
  color: #6070ff;
}

.btn {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  margin: 50px 0 50px 20px;
  padding: 12px;
  background-color: #fff;
  width: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn-resume {
  font-size: 20px;
  border: solid 1px #6070ff;
  color: #6070ff;
  border-radius: 10px;
  padding: 12px;
  background-color: #fff;
  margin-top: 15px;
  width: 50%;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

button:hover {
  background-color: #6070ff;
  color: #ffff;
}

/* <<<<ABOUT ME>>>> */

.about-me {
  background-color: #fff;
  border-radius: 0 100px 0 0;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px 20px 20px 20px;
}

/* Langauges */

.dev-stacks {
  /* margin: 0 50px; */
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  width: 100%;
}

.dev-stack {
  display: flex;
  font-size: 20px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid 1px #dfe1e6;
  padding: 15px 0;
}

.stack-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  background-color: #f5f5f5;
  margin: 0 0 25px 0;
  padding: 20px 40px;
  border-radius: 8px;
  color: #253858;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
}

.stack-list {
  padding-top: 8px;
}

.js {
  color: #ffe135;
}

.html {
  color: orange;
}

.css {
  color: blue;
}

/* <<<<<Footer>>>>> */
.form-contact {
  display: flex;
  flex-direction: column;
  padding: 50px 50px;
}

.contact-text {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.form-group {
  border: 1px solid rgb(196, 193, 35);
  margin-top: 8px;
  margin-bottom: 8px;
}

.form-group > input {
  border: 1px solid #000;
  width: 100%;
  height: 43px;
  border-radius: 10px;
}

.big-input {
  height: 170px;
}
